

<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Attitude</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body id="myDIV">
        
    <div class="container" id="content">
        <div class="row">
            <div class="col">
                <h1>Praya</h1>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col float-right">
                        <p>Switch Theme</p>
                    </div>
                    <div class="col">
                        <label class="switch float-right">
                            <input onclick="toggle()" type="checkbox">
                            <span class="slider round"></span>                          
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="left">
                
            </div>
                
            <div class="col">
                <div id="accordion">
                    <h3>Aktivitas</h3>
                    <div><p>Sekarang aktif menjabat menjadi staff seni budaya BEM Fasilkom UI</p></div>
                    <h3>Pengalaman</h3>
                    <div><p>Hidup 2000-2019</p></div>
                    <h3>Prestasi</h3>
                    <div><p>Tak ingin sombong</p></div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>

  <script src="{% static 'js/script.js'%}"></script>
    
</body>
</html>